<div class="today-weather__title">Today</div>
<mat-card class="today-weather__card">
  <mat-card-content class="today-weather__card-content h-full">
    <app-weather-card [todayWeather]="todayWeather$ | async" class="today-weather__card-content--left h-full"></app-weather-card>
    <div class="today-weather__card-content--right">
      @for (info of (todayWeather$ | async)?.additionalInfo | keyvalue; track info.key) {
      <p>{{ info.key }}: {{ info.value }}</p>
      }
    </div>
  </mat-card-content>
</mat-card>
